
* {
    box-sizing: border-box;
}

main,h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Overpass", sans-serif;
}
:root {
    --main-width: 416px;  
    --label-width: 51px;     
    --label-vertical-padding:16px;
    --label-horizontal-padding: 24px; 
    --ratings-gap: 24px;
    --button-vertical-padding: 6px;
    --button-horizontal-padding: 136px;    
}


body {
    background-color: hsl(216, 12%, 8%);
    color: hsl(217, 12%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    box-sizing: border-box;
    width: var(--main-width);
    max-width: 98%;
    background-color: hsl(216, 24%, 12%);
    border-radius: 30px;
    padding: 32px 24px;
}


h1 {
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 0px;
    font-weight: bold;
    color: hsl(0, 100%, 100%);

}
p {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: normal;
}
label {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    font-weight: bold;

}
button {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.17px;
    font-weight: bold;
}
button {
    margin-top: 16px;
    width: 100%;
    padding: var(--button-vertical-padding) var(--button-horizontal-padding);
    height: 45px;
    text-transform: uppercase;
    border-radius: 22.5px;
    color: hsl(216, 12%, 8%);
    background-color: hsl(25, 97%, 53%);
    cursor: grab;
    border-width: 0px;
    text-align: center;

}


button:active {
    background-color: white;
}





.thanks {
    padding: 32px 24px;

}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.thanks-container {
    display: none;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    text-align: center;
}

.icon-star {
    width: 48px;
    height: 48px;
    padding: 16px;
    border-radius: 50%;
    background-color: hsl(213, 19%, 18%);
}
img {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 16px;
}



input[type="radio"] {
   display: none;
}
.ratings {
    display: flex;
    gap: var(--ratings-gap);
    justify-content: space-between;
    color: hsl(217, 12%, 63%);
    flex-wrap: wrap;
}

label {
  display: flex; 
  justify-content: center; 
  align-items: center;
  padding: var(--label-vertical-padding) var(--label-horizontal-padding);
  width: var(--label-width);
  height: var(--label-width);
  border-width: 1px;
  border-style: solid;
  border-color: hsl(213, 19%, 18%);
  border-radius: 50%; 
  cursor:grab;
  background-color: hsl(213, 19%, 18%);
}

input[type="radio"]:checked + label {
    background-color: white;
    color: hsl(216, 12%, 8%);
}

input[type="radio"]:hover + label {
    background-color: hsl(25, 97%, 53%);
}




.rating-results {
    color: hsl(25, 97%, 53%);
    padding: 0px 16px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 22.5px;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: normal;
}
.thank-you {
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 0px;
    font-weight: bold;
    color: white;
}
.congrats {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.congrats p:last-child {
    color: hsl(217, 12%, 63%);
     font-size: 15px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: normal;
}

.thanks-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.hidden {
    display: none;
}

@media (max-width: 420px) {
    :root {
        --main-width: 327px;        
        --label-width: 42px;      
        --label-vertical-padding:8px;
        --label-horizontal-padding: 16px; 
        --ratings-gap: 16px;
        --button-vertical-padding: 16px;
        --button-horizontal-padding: 104px;    

    }
    main {
        box-sizing: border-box;
        width: var(--main-width);
        border-radius: 15px;
        padding: 24px 24px;
    }
    h1 {
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0px;
        font-weight: bold;
    }
    p {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0px;
        font-weight: normal;
    }
    label {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 1.87px;
        font-weight: bold;
    }
    button {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 1.87px;
        font-weight: bold;
        margin: 0;
        height: 47px;

    }
    .thank-you-img {
        max-width: 52%;
        height: auto;
    }
    .thanks-container {
        gap: 24px;
    }

   
  


}
