
* {
    box-sizing: border-box;
}
:root {
    --blue-700-color: hsl(235, 18%, 26%);
    --blue-800-color: hsl(234, 29%, 20%);
    --white-color: hsl(0, 0%, 100%);
    --red-color: hsl(4, 100%, 67%);
    --red-color-100: hsl(354.00,100.00%,90.20%);
}
ul, h1, li, p, main, fieldset {
    padding: 0;
    margin: 0;
}

button, fieldset {
    border: 0px;
}

ul {
    list-style-type: none;
}




body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-700-color);
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 150%;
    color: var(--blue-800-color);
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 40px;
    line-height: 100%;
}
.image-desc img {
    object-fit: cover;
    width: 100%;
    height: 100%;

}


.feature-item {
    display: flex;
    gap: 16px;
    align-items: flex-start;;
}
.features {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.description {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.submit-email {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 40px;
    background-color: var(--white-color);
    border-radius: 36px;
    margin: auto;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 14px;

}


form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-self: stretch;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 0px;
}

button {
    height: 56px;
    border-radius: 8px;
    color: var(--white-color);
    background-color: var(--blue-800-color);
    border: 0px;
    font-weight: 700;
    line-height: 150%;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}
input[type="email"] {
    height: 58px;
    border-radius: 8px;
    padding: 16px 24px;
    border: 1px solid black;
    font-weight: 300;
    font-size: 16px;

}

input[type="email"]:not(:placeholder-shown):invalid {
  border: 1px solid var(--red-color);
  color: var(--red-color);
  background-color: var(--red-color-100);
}

input[type="email"]:valid {
  border: 1px solid black;
}


.label-status {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 700;
}

.error-message {
    color: var(--red-color);
}


.thanks {
    background-color: var(--white-color);
    height: 100vh;
    padding: 16px;
    padding-bottom: 10vh;
    padding-top: 20vh;

}

.thanks img{
    width: 64px;
    height: 64px;
}

.thanks-desc {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.image-success {
    flex-shrink: 0;
    flex-grow: 0;
}
.thanks {
    display: none;
    flex-direction: column;
    justify-content: space-between;
}
@media (min-width: 380px) and (max-width: 1024px){
    h1 {
        font-size: 56px;
        line-height: 100%;
        letter-spacing: 0px;
    }
    .submit-email {
        padding: 40px;
        width: 98%;
        max-width: 608px;

    
    }
    .card {
        padding: 0px;
    }
    .thanks {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 64px;
        width: 520px;
        height: 600px;
        border-radius: 36px;
    }
   
}

@media (min-width: 1024px) {
    h1 {
        font-size: 56px;
        line-height: 100%;
        letter-spacing: 0px;
    }
    .submit-email {
        padding: 32px;
        width: 98%;
        flex-direction: row-reverse;
        gap: 64px;
        height: 641px;
        max-width: 1100px;
    
    }
    .submit-email > * {
        flex: 1;
    }
    .card {
        padding: 0px;
    }
    .image-desc img {
        border-radius: 16px;   
    }
   
    button:active {
        background-color: var(--red-color);
    }
     .thanks {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 64px;
        width: 520px;
        height: 600px;
        border-radius: 36px;
    }
}







.hide {
    display: none;
}